@import "./mixins";
@import "./colors";
@import "./fonts";

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.charlist__pagination {
  @include flex(row, center, center);
  width: 60vw;
  height: 40px;
  ul {
    @include flex(row, center, center);
  }
  .charlist__pagination-page {
    @include flex(row, center, center);
    background-color: $white;
    text-align: center;
    height: 32px;
    margin: 0 3px;
    padding: 0 6px;
    font-size: 0.875rem;
    min-width: 32px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-radius: 16px;
    letter-spacing: 0.01071em;
    outline: 0;
    cursor: pointer;
  }

  .charlist__pagination-next,
  .charlist__pagination-previous,
  .charlist__pagination-break {
    cursor: pointer;
    margin: 0 8px;
  }

  .charlist__pagination-active {
    color: $white;
    background-color: $black;
  }
}
