@import "./mixins";
@import "./colors";
@import "./fonts";

.charfilters,
.chardetail__side {
  .toggle-container {
    @include flex(row, flex-end, center);
  }
  margin-left: 10px;
  width: 25vw;
  padding: 10px;
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}
.chardetail__imgs {
  @include flex(column, flex-end, center);
  height: 90%;
}
.chardetail__top {
  @include flex(row, space-between, center);
}

.filter-ad_img {
  width: 25vw;
}
.filter-chars_img {
  max-height: 500px;
}
.back-btn {
  cursor: pointer;
  @include flex(row, center, center);
  background-color: $psycolor;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  &:hover {
    background-color: $qckcolor;
    img {
      opacity: 0.5;
    }
  }
  img {
    width: 20px;
    opacity: 0.5;
  }
}
.btn-filter-stars {
  .unit-stars {
    .star-ratings {
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.btn-filter {
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.--applied {
  opacity: 1;
}
.btn-clear {
  width: 100%;
  color: $white;
  padding: 5px;
  background-color: $black;
}
.btn-filter-combo {
  width: 20px;
  margin: 0 10px;
  color: $white;
  background-color: $black;
}
.btn-filter-class {
  padding: 0;
  background-color: transparent;
}
.btn-filter-type {
  color: $white;
  width: 100%;
}

button.str {
  background-color: $strcolor;
}
button.dex {
  background-color: $dexcolor;
}
button.qck {
  background-color: $qckcolor;
}
button.psy {
  background-color: $psycolor;
}
button.int {
  background-color: $intcolor;
}
